@keyframes crescer {
    to {
        width: 100px;
        content: 'teste';
    }
}

body {
    table {
        tr {
            th {
                &:last-of-type{
                    width: 96px;
                }

            }

            td {
                &:last-of-type {

                    width: 96px;




                }
            }
        }
    }
}
